ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your_admin_password"
ADMIN_ROLE="super-admin"
CLIENT_RESET_PASSWORD_URL="http://localhost:3000/auth/reset-password"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
DB_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority"
EMAIL_FROM="noreply@example.com"
FRONTEND_URL="http://localhost:3000"
HOST="http://localhost"
JWT_ACCESS_TOKEN_EXPIRATION_TIME="30m"
JWT_ACCESS_TOKEN_SECRET="your_jwt_access_token_secret"
JWT_HASH_SALT="your_jwt_hash_salt"
JWT_REFRESH_TOKEN_EXPIRATION_TIME="7d"
JWT_REFRESH_TOKEN_EXPIRATION_TIME_IN_DB="2592000"
JWT_REFRESH_TOKEN_SECRET="your_jwt_refresh_token_secret"
JWT_SECRET="your_jwt_secret"
JWT_SECRET_EMAIL_VERIFICATION="your_email_verification_jwt_secret"
LOG_LEVEL="tiny"
MAILJET_API_KEY="your_mailjet_api_key"
MAILJET_API_SECRET="your_mailjet_api_secret"
PAYSTACK_SECRET_KEY="sk_test_your_paystack_secret_key"
TWILIO_ACCOUNT_SID="your_twilio_account_sid"
TWILIO_AUTH_TOKEN="your_twilio_auth_token"
TWILIO_PHONE_NUMBER="+10000000000"
